<app-index-six></app-index-six>
<!-- Start -->
<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-4 pb-2">
                <div class="section-title text-center">
                    <h4 class="title mb-4">We are build awesome <br> marketing template</h4>
                    <p class="text-muted para-desc mx-auto mb-0">This is just a simple text made for this unique and
                        awesome template, you can replace it with any text.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row position-relative z-index-1">
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="features feature-primary shadow p-4 rounded-md text-center bg-white">
                    <div class="icons text-center">
                        <i
                            class="uil uil-adjust-circle text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                    </div>

                    <div class="content mt-4 pt-2">
                        <a href="" class="title text-dark h5">Grow Your Business</a>
                        <p class="text-muted mt-3">The phrasal sequence of the is now so that many campaign and benefit
                        </p>

                        <div class="mt-4 pt-2">
                            <a href="" class="btn btn-link primary">Read More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="features feature-primary shadow p-4 rounded-md text-center bg-white">
                    <div class="icons text-center">
                        <i
                            class="uil uil-circuit text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                    </div>

                    <div class="content mt-4 pt-2">
                        <a href="" class="title text-dark h5">Drive More Sales</a>
                        <p class="text-muted mt-3">The phrasal sequence of the is now so that many campaign and benefit
                        </p>

                        <div class="mt-4 pt-2">
                            <a href="" class="btn btn-link primary">Read More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="features feature-primary shadow p-4 rounded-md text-center bg-white">
                    <div class="icons text-center">
                        <i
                            class="uil uil-fire text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                    </div>

                    <div class="content mt-4 pt-2">
                        <a href="" class="title text-dark h5">Handled By Expert</a>
                        <p class="text-muted mt-3">The phrasal sequence of the is now so that many campaign and benefit
                        </p>

                        <div class="mt-4 pt-2">
                            <a href="" class="btn btn-link primary">Read More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="features feature-primary shadow p-4 rounded-md text-center bg-white">
                    <div class="icons text-center">
                        <i
                            class="uil uil-flower text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                    </div>

                    <div class="content mt-4 pt-2">
                        <a href="" class="title text-dark h5">Discussion For Idea</a>
                        <p class="text-muted mt-3">The phrasal sequence of the is now so that many campaign and benefit
                        </p>

                        <div class="mt-4 pt-2">
                            <a href="" class="btn btn-link primary">Read More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End -->
<app-footer></app-footer>