.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.profile-img {
    text-align: center; /* Centre le contenu horizontalement */
    position: relative; /* Permet de positionner l'icône de la caméra par rapport à l'image */
}

.profile-img img {
    border: 3px solid #fff; /* Ajoute une bordure blanche autour de l'image */
    border-radius: 50%; /* Arrondit les bords de l'image pour en faire un cercle */
    width: 110px;
    height: 110px;
}

.change-photo-icon {
    position: absolute; /* Positionne l'icône de la caméra par rapport à l'image */
    bottom: 5px; /* Ajuste la position verticale de l'icône par rapport à l'image */
    right: 5px; /* Ajuste la position horizontale de l'icône par rapport à l'image */
    background-color: #fff; /* Fond blanc pour l'icône */
    border-radius: 50%; /* Arrondit les bords de l'icône pour en faire un cercle */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Change le curseur de la souris en pointeur au survol */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajoute une ombre légère */
}

/* Rend l'élément input transparent */
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

