<app-index-six></app-index-six>
 <!-- Start Hero -->
 <section class="bg-half-260 d-table w-100" style="background: url('assets/images/bg-2.jpg') top center;" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-heading">
                    <h4 class="heading mb-4">Get Things Done By <br> Great Remote Team</h4>
                    <p class="text-muted para-desc mb-0">This is just a simple text made for this unique and awesome
                        template, you can replace it with any text.</p>

                    <div class="subcribe-form mt-4 pt-2">
                        <form>
                            <div class="mb-2">
                                <input class="rounded-pill" placeholder="Email Address / Phone Number">
                                <button type="submit" class="btn btn-pills btn-primary border-0">Register
                                    Now</button>
                            </div>
                        </form>
                        <!--end form-->
                    </div>
                    <!--end subscribe form-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<app-footer></app-footer>