<app-index-six></app-index-six>
<!-- Start Hero -->
<!-- Start -->
<section class="section bg-light overflow-hidden" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="./../../../assets/images/banque/Banques.png" class="rounded-md img-fluid mx-auto d-block"
                        alt="">
                    <div class="play-icon">
                        <a href="javascript:void(0);" (click)="open(content)" data-type="youtube" data-id="yba7hPeTSjk"
                            class="play-btn lightbox">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="heading mb-3">Explorez nos
                        <span class="typed-element text-gradient-primary typewrite"></span><br>
                        <span class="wrap"></span> pour une gestion financiere optimisee.
                    </h4>
                    <p class="text-muted para-desc mb-0" style="font-size: 17px;">Notre plateforme intelligente vous
                        aide a trouver la banque
                        ideale en fonction de vos besoins financiers</p>

                    <div class="d-inline-flex rounded-md shadow p-4 bg-white mt-4">
                        <i class="uil uil-user-plus display-4 mb-0 opacity-5"></i>

                        <div class="content ms-3">
                            <h5>Inscrivez-vous Dès Maintenant !</h5>
                            <p class="text-muted" style="font-size: 17px;">Prêt à découvrir les meilleures opportunités
                                bancaires ?
                                Rejoignez-nous dès maintenant pour un voyage financier personnalisé vers des choix
                                judicieux </p>
                            <a href="" class="btn btn-primary btn-pills border-0">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!--end container-->
</section>
<!--end section-->
<!-- End -->
<ng-template #content let-c="close" let-d="dismiss">
    <!-- <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div> -->
    <div class="modal-body">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
</ng-template>
<!-- Start -->


<!-- <section class="bg-half-170 d-table w-100" id="home">
    <div class="bg-overlay bg-gradient-primary opacity-1"></div>
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-lg-6 col-md-7">
                <div class="title-heading mt-4">
                    <h1 class="heading mb-3">Build and grow your <br>
                        <span class="typed-element text-gradient-primary typewrite"></span>
                        <span class="wrap"></span> Solution
                    </h1>
                    <p class="para-desc text-muted">This is just a simple text made for this unique and awesome
                        template, you can replace it with any text.</p>
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn btn-outline-primary rounded">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="assets/images/about.png" class="rounded-md img-fluid mx-auto d-block" alt="">
                    <div class="play-icon">
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Hero -->
<section id="clients" class="section bg-light overflow-hidden">

    <div class="container">

        <div class="section-header mb-3">
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col text-center mt-5">
                    <h3 class="section-title">Les banques au Mali</h3>
                </div>
                <div class="col text-end">
                    <a routerLink="/banques" class="btn btn-outline-primary btn-sm mt-5">Voir toutes les banques</a>
                </div>
            </div>
            <p class="section-description">Les banques les plus aimées</p>
        </div>


        <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp;">

            <!-- <div class="col-lg-3 col-md-4 col-xs-6 mb-3">
                <div class="card crd" routerLink="/detail-banque">
                    <div class="client-logo">
                        <img src="./../../../assets/images/banque/bam.png" class="image-sizeblog" alt="">
                    </div>
                </div>
            </div> -->

            <div class="col-md-3 mb-3" *ngFor="let BanquesT of banque">
                <div class="card-sl">
                    <div class="card-image" *ngIf="BanquesT.photo; else noImages">
                        <img *ngIf="BanquesT.photo !== '/sssd'" src="{{ generateImageUrl(BanquesT.photo) }}"
                            class="img-fluid image-sizeresents" />
                        <img *ngIf="BanquesT.photo === '/sssd'" src="./../../../assets/images/banque/bam.png"
                            alt="Autre image" class="img-fluid image-sizeresents" />
                    </div>
                    <ng-template #noImages>
                        <img src="./../../../assets/images/banque/bam.png"
                            class="img-fluid image-sizeresents" alt="default-img">
                    </ng-template>

                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                    <div class="card-heading">
                        {{BanquesT.nom}}
                    </div>
                    <div class="card-text">
                        <div class="clearfix mb-3">
                            <span class="float-start price-hp" style="font-weight: bold;">Siege social</span>
                            <span class="float-end price-hp">Bamako</span>
                            <!-- <span class="float-end badge rounded-pill bg-primary">12550 FCFA</span> -->
                        </div>
                    </div>
                    <!-- <div class="card-text">
                        $67,400
                    </div> -->
                    <a routerLink="/detail-banque" class="card-button"> Savoir plus</a>
                </div>
            </div>
        </div>

    </div>

</section>

<app-footer></app-footer>