<app-index-six></app-index-six>
<!-- Start Hero -->
<section class="bg-half-170 d-table w-100" id="home">
    <div class="bg-overlay bg-gradient-primary opacity-1"></div>
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-lg-6 col-md-7">
                <div class="title-heading mt-4">
                    <h1 class="heading mb-3">Build and grow your <br> 
                        <span class="typed-element text-gradient-primary typewrite"></span>  
                         <span class="wrap"></span>  Solution</h1>
                    <p class="para-desc text-muted">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn btn-outline-primary rounded">Learn More</a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="assets/images/about.png" class="rounded-md img-fluid mx-auto d-block" alt="">
                    <div class="play-icon">
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
<!-- <app-footer></app-footer> -->
</section><!--end section-->
<!-- End Hero -->

<app-footer></app-footer>