<app-index-six></app-index-six>
<!-- Start Hero -->
<!-- Start -->
<section class="section bg-light overflow-hidden" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="assets/images/about.png" class="rounded-md img-fluid mx-auto d-block" alt="">
                    <div class="play-icon">
                        <a href="javascript:void(0);" (click)="open(content)" data-type="youtube" data-id="yba7hPeTSjk"
                            class="play-btn lightbox">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="heading mb-3">Explorez nos
                        <span class="typed-element text-gradient-primary typewrite"></span><br>
                        <span class="wrap"></span> pour une gestion financiere optimisee.
                    </h4>
                    <p class="text-muted para-desc mb-0">Notre plateforme intelligente vous aide a trouver la banque
                        ideale en fonction de vos besoins financiers</p>

                    <div class="d-inline-flex rounded-md shadow p-4 bg-white mt-4">
                        <i class="uil uil-shop display-4 mb-0 opacity-5"></i>

                        <div class="content ms-3">
                            <h5>Open your own shop</h5>
                            <p class="text-muted">This is just a simple text made <br> for this unique and awesome
                                template</p>
                            <a href="" class="btn btn-primary btn-pills border-0">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
    <!--end container-->
</section>
<!--end section-->
<!-- End -->
<ng-template #content let-c="close" let-d="dismiss">
    <!-- <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div> -->
    <div class="modal-body">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>
</ng-template>
<!-- Start -->


<!-- <section class="bg-half-170 d-table w-100" id="home">
    <div class="bg-overlay bg-gradient-primary opacity-1"></div>
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-lg-6 col-md-7">
                <div class="title-heading mt-4">
                    <h1 class="heading mb-3">Build and grow your <br>
                        <span class="typed-element text-gradient-primary typewrite"></span>
                        <span class="wrap"></span> Solution
                    </h1>
                    <p class="para-desc text-muted">This is just a simple text made for this unique and awesome
                        template, you can replace it with any text.</p>
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn btn-outline-primary rounded">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="position-relative">
                    <img src="assets/images/about.png" class="rounded-md img-fluid mx-auto d-block" alt="">
                    <div class="play-icon">
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn lightbox">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Hero -->
<section id="clients" class="section-bg">

    <div class="container">

        <div class="section-header mb-3">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Les banques au Mali</h3>
                </div>
                <div class="col">
                    <a routerLink="/banques" class="btn btn-primary btn-pills border-0">Voir toutes banques</a>
                </div>
            </div>
            <!-- <p>Meet our happy clients</p> -->
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
            style="visibility: visible; animation-name: fadeInUp;">

            <div class="col-lg-3 col-md-4 col-xs-6 mb-3">
                <div class="card crd" routerLink="/detail-banque">
                    <div class="client-logo">
                        <img src="./../../../assets/images/banque/bam.png" class="image-sizeblog" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->

                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/detail-banque">
                    <div class="client-logo">
                        <img src="./../../../assets/images/banque/abof.png" class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/banque">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png"
                            class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/banque">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png"
                            class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/banque">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"
                            class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/banque">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png"
                            class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/banque">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png"
                            class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="card crd" routerLink="/banque">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png"
                            class="img-fluid" alt="">
                    </div>
                    <!-- <div class="text-center siege">Siege social : <span style="font-weight: bold;">Hamdallaye</span> </div> -->
                </div>
            </div>

        </div>

    </div>

</section>

<app-footer></app-footer>