.back-to-home {
    position: absolute;
    top: 4%; /* Ajustez la valeur en fonction de la distance depuis le haut */
    left: 5%; /* Ajustez la valeur en fonction de la distance depuis la gauche */
}