<app-index-six></app-index-six>
  <!-- Start -->
  <section class="section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-4 pb-2">
                <div class="section-title text-center">
                    <h4 class="title mb-4">Contactez-nous</h4>
                    <p class="text-muted para-desc mx-auto mb-0">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center">
            <div class="col-12 mt-4 pt-2">
                <form method="post" id="myForm" name="myForm" onsubmit="return validateForm()">
                    <p class="mb-0" id="error-msg"></p>
                    <div id="simple-msg"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-4">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Nom complet :">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mb-4">
                                        <input name="email" id="email" type="email" class="form-control" placeholder="Votre Email :">
                                    </div> 
                                </div><!--end col-->

                                <div class="col-12">
                                    <div class="mb-4">
                                        <input name="subject" id="subject" class="form-control" placeholder="Objet du message :">
                                    </div>
                                </div><!--end col-->
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="mb-4">
                                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Votre Message :"></textarea>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row justify-content-end">
                        <div class="col-12 text-end">
                            <button type="submit" id="submit" name="send" class="btn btn-primary btn-pills border-0">Envoyer</button>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->


<!-- End -->
<app-footer></app-footer>