<app-index-six></app-index-six>
<!-- Start -->
<!-- Start -->
<section class="section bg-light" id="price">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-4 pb-2">
                <div class="section-title mt-3">
                    <h5 class="title mb-4" style="font-size: 23px !important; color: #0f42ce !important;">Nous avons
                        trouve 4 banques qui correspondent a votre etat financier</h5>
                    <!-- <p class="text-muted para-desc mx-auto mb-0">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p> -->
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row position-relative z-index-1">
            <div class="container">
                <div class="row justify-content-center mb-3" *ngFor="let BanquesT of banqueT">
                    <div class="col-md-12 col-xl-12">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                            <img [src]="BanquesT.img1" class="w-100" />
                                            <a href="#!">
                                                <div class="hover-overlay">
                                                    <div class="mask"
                                                        style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3">
                                        <h5>{{BanquesT.nomComplet}}</h5>
                                        <div class="d-flex flex-row">
                                            <div class="text-danger mb-1 me-2">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <span>310</span>
                                        </div>
                                        <div class="mt-1 mb-0 text-muted small">
                                            <span class="text-primary"> • </span>
                                            <span>Frais annuel <span class="float-end badge rounded-pill bg-primary">12550
                                                FCFA</span></span> <br>
                                            <span class="text-primary"> • </span>
                                            <span>Best finish <span class="float-end badge rounded-pill bg-primary">12550
                                                FCFA</span><br /></span>
                                        </div>
                                        <!-- <p class="text-truncate mb-4 mb-md-0">
                                            There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.
                                        </p> -->
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                        <h5 class="text-success">Services inclus</h5>
                                        <div class="mt-1 mb-0 text-muted small">
                                            <i class="fas fa-check text-success me-2"></i>
                                            <span>Service 1</span> <br>
                                            <i class="fas fa-check text-success me-2"></i>
                                            <span>Service 2<br /></span>
                                            <i class="fas fa-check text-success me-2"></i>
                                            <span>Service 3<br /></span>
                                            <i class="fas fa-check text-success me-2"></i>
                                            <span>Service 4<br /></span>
                                        </div>
                                        <!-- <p class="text-truncate mb-4 mb-md-0">
                                            There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable.
                                        </p> -->
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                        <h5 class="text-success">Offre de bienvenu</h5>
                                        <div class="d-flex flex-row align-items-center mb-1">
                                            <h4 class="mb-1 me-1">$13.99</h4>
                                            <span class="text-danger"><s>$20.99</s></span>
                                        </div>
                                        <div class="d-flex flex-column mt-4">
                                            <!-- <button class="btn btn-primary btn-sm" type="button">Details</button> -->
                                            <button routerLink="/detail-banque" class="btn btn-outline-primary btn-sm mt-2" type="button">
                                                Savoir plus
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- End -->
<app-footer></app-footer>