<app-index-six></app-index-six>
<!-- Start -->
<section class="section bg-light overflow-hidden" id="">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="banquelogo-img">
                                    <img src="./../../../assets/images/banque/bam.png" alt="" />
                                </div>
                                <!-- <div class="mt-3">
                                    <p class="text-secondary mb-1">Full Stack Developer</p>
                                    <p class="text-muted font-size-sm">Mali, Bamako, Sogoniko</p>
                                <hr class="my-4">
                                </div> -->
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <span class="text-secondary"> <i class="uil uil-location-point"></i>
                                            Mali - Bamako - Hamdallaye</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <span class="text-secondary"><i class="uil uil-globe"></i>
                                            https://bootdey.com</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <span class="text-secondary"><i class="uil uil-envelope-alt"></i>
                                            bam@gmail.com</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <span class="text-secondary"><i class="uil uil-phone"></i>
                                            (+223) 20 20 20 20</span>
                                    </li>
                                    
                                <!-- <hr class="my-4"> -->
                                </ul>
                                <!-- <hr class="my-4"> -->
                                <div class="mt-3">
                                    <div class="banque-img">
                                        <img src="./../../../assets/images/banque/bam1.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="my-4"> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h5 class="mb-0">Presentation</h5>
                                </div>  
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Le type de société (forme juridique) : </h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    SA
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Le capital de la société : </h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    22 MILLIARDS… CFA
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Le nombre d’agences au Mali : </h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    25
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Le Nombre d’Agences à Bamako :</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    18
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Le Nombre d’Agences à Bamako :</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    18
                                </div>
                            </div>
                            <!-- <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Le nombre d’agences hors du Mali (réseau externe) :</h6>
                                </div>
                                <div class="col-sm-6 text-secondary text-justify">
                                    La Banque Atlantique est une filiale du Groupe Banque Centrale Populaire du Maroc, 
                                    Groupe mutualisteleader du secteur bancaire marocain installé sur 4 continents : 
                                    Afrique, Europe, Amérique et Asie. LeGroupe BCP est présent dans 12 pays africains 
                                    et 13 autres pays dans le reste du monde.
                                </div>
                            </div> -->
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="d-flex align-items-center mb-3">Localisation</h5>
                                    <div class="google-maps">
                                        <iframe
                                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3968.9504405186183!2d-7.998184000000001!3d12.639231999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDA3JzA5LjQiTiA38JnEzYzQ4Ny44Ilc!5e0!3m2!1sen!2sus!4v1670922579281!5m2!1sen!2sin"
                                          width="685" height="300" style="border: 0" allowfullscreen="" loading="lazy"
                                          referrerpolicy="no-referrer-when-downgrade"></iframe>
                                      </div>
                                        <!-- <div class="google-maps">
                                            <div id="mape" style="width: 100%; height: 25vw;"></div>
                                        </div> -->
                                    <!-- <p>Web Design</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Website Markup</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 72%"
                                            aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>One Page</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 89%"
                                            aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Mobile Template</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 55%"
                                            aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Backend API</p>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 66%"
                                            aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<app-footer></app-footer>