.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: .5rem !important;
}

.banquelogo-img {
    /* Définissez la largeur et la hauteur du cadre */
    width: 300px;
    /* Ajustez la largeur selon vos besoins */
    // height: 200px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    /* Masque toute partie de l'image qui dépasse du cadre */
}

.banquelogo-img img {
    /* Définissez la largeur de l'image sur 100% pour qu'elle s'adapte au cadre */
    width: 100%;
    /* Ajustez la hauteur sur auto pour conserver le rapport hauteur/largeur de l'image */
    height: auto;
    /* Assurez-vous que l'image est centrée dans le cadre */
    display: block;
    // margin: 0 auto;
}

.banque-img {
    /* Définissez la largeur et la hauteur du cadre */
    width: 250px;
    /* Ajustez la largeur selon vos besoins */
    // height: 200px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    /* Masque toute partie de l'image qui dépasse du cadre */
}

.banque-img img {
    /* Définissez la largeur de l'image sur 100% pour qu'elle s'adapte au cadre */
    width: 100%;
    /* Ajustez la hauteur sur auto pour conserver le rapport hauteur/largeur de l'image */
    height: auto;
    /* Assurez-vous que l'image est centrée dans le cadre */
    display: block;
    // margin: 0 auto;
}

.text-justify {
    text-align: justify;
}

h6 {
    font-weight: 400 !important;
}

.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}

.crd:hover {
    cursor: pointer;
}

.crd {
    cursor: pointer;
}

/* Style pour l'onglet actif */
.nav-link.active {
    background-color: #202942; /* Remplacez VOTRE_COULEUR par la couleur souhaitée */
    color: #fff; /* Couleur du texte de l'onglet actif */
  }
  