/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.crd:hover {
    cursor: pointer;
}

.crd {
    cursor: pointer;
}

/* Style pour l'onglet actif */
.nav-link.active {
    background-color: #202942;
    /* Remplacez VOTRE_COULEUR par la couleur souhaitée */
    color: #fff;
    /* Couleur du texte de l'onglet actif */
}

.nav-link {
    border-radius: 50px;
    padding: 4px 30px 6px 30px;
    margin: 10px;
    border: 1px solid #202942;
    color: #000;
}

.nav-link:hover {
    color: #fff;
    background: #202942;
}


#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    // border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    // background: #314CB6;
    background: linear-gradient(45deg, #314CB6, white) !important;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #314CB6;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: inherit;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: inherit;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #314CB6;
    color: white;
}



#progressbar li.inactive:before {
    background: burlywood;
    color: #000;

}

fieldset {
    /* for chrome and safari*/
    -webkit-animation-duration: .25ms;
    -webkit-animation-name: slidein;

    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;

    /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;

    /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
}

@-webkit-keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


/* USER LIST TABLE */
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.0em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #eee;
}

.table thead>tr>th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table tbody>tr>td {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

.table tbody>tr>td:first-child,
.table thead>tr>th:first-child {
    padding-left: 20px;
}

.table thead>tr>th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead>tr>th>a span {
    color: #344644;
}

.table thead>tr>th>a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
}

.table thead>tr>th>a.asc span:after {
    content: "\f0dd";
}

.table thead>tr>th>a.desc span:after {
    content: "\f0de";
}

.table thead>tr>th>a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table.table-hover tbody>tr>td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

.table tbody tr td .first-line span {
    font-size: 0.875em;
    color: #969696;
    font-weight: 300;
}

.table tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
}

.table a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
}

.table a.table-link:hover {
    text-decoration: none;
    color: #2aa493;
}

.table a.table-link.danger {
    color: #fe635f;
}

.table a.table-link.danger:hover {
    color: #dd504c;
}

.table-products tbody>tr>td {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-products tbody>tr:hover>td {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-products .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-products .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-products .price>i {
    color: #8dc859;
}

.table-products .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-products .warranty>i {
    color: #f1c40f;
}

.table tbody>tr.table-line-fb>td {
    background-color: #9daccb;
    color: #262525;
}

.table tbody>tr.table-line-twitter>td {
    background-color: #9fccff;
    color: #262525;
}

.table tbody>tr.table-line-plus>td {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
    color: #a75d54;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}

.table-title h4 {
    margin: 8px 0 0;
    font-size: 22px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 6px;
    left: 10px;
}

.ajoutUser {
    // border-radius: 50px;
    padding: 4px 30px 6px 30px;
    // border: 1px solid #202942;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

// .ajoutUser:hover {
//     color: #fff;
//     background: #202942;
// }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination__container {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination__page {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination__page--active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination__page--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.pagination__previous,
.pagination__next {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination__previous:hover,
.pagination__next:hover,
.pagination__page:hover {
    background-color: #f0f0f0;
}

.image-sizeresents {
    width: 20%;
    /* Remplacez cette valeur par la taille souhaitée */
    height: 20px;
    /* Remplacez cette valeur par la taille souhaitée */
}