<app-index-six></app-index-six>
<!-- Start -->
<section class="section" id="price">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-4 pb-2">
                <div class="section-title text-center">
                    <h4 class="title mb-4">Choose our package <br> & Active to premium</h4>
                    <p class="text-muted para-desc mx-auto mb-0">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row position-relative z-index-1">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="pricing pricing-primary shadow rounded-md text-center bg-white">
                    <div class="border-bottom p-4">
                        <div class="icons text-center mb-4">
                            <i class="uil uil-trees text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                        </div>

                        <h4 class="text-gradient-primary">Basic</h4>
                    
                        <div class="d-flex justify-content-center mb-0">
                            <span class="h5 mb-0 mt-2">$</span>
                            <span class="price h2 mb-0">19</span>
                            <span class="h5 align-self-end mb-1">/month</span>
                        </div>
                    </div>

                    <div class="p-4 text-start">
                        <h5>Pricing Features:</h5>

                        <ul class="list-unstyled mb-0 ps-0">
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Free Appointments</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Enhanced Security</li>
                        </ul>
                        
                        <a href="" class="btn btn-primary btn-pills border-0 w-100 mt-4">Get Started</a>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="pricing pricing-primary shadow rounded-md text-center bg-white">
                    <div class="border-bottom p-4">
                        <div class="icons text-center mb-4">
                            <i class="uil uil-shield text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                        </div>

                        <h4 class="text-gradient-primary">Premium</h4>
                    
                        <div class="d-flex justify-content-center mb-0">
                            <span class="h5 mb-0 mt-2">$</span>
                            <span class="price h2 mb-0">39</span>
                            <span class="h5 align-self-end mb-1">/month</span>
                        </div>
                    </div>

                    <div class="p-4 text-start">
                        <h5>Pricing Features:</h5>

                        <ul class="list-unstyled mb-0 ps-0">
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Free Appointments</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Enhanced Security</li>
                        </ul>
                        
                        <a href="" class="btn btn-primary btn-pills border-0 w-100 mt-4">Get Started</a>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="pricing pricing-primary shadow rounded-md text-center bg-white">
                    <div class="border-bottom p-4">
                        <div class="icons text-center mb-4">
                            <i class="uil uil-rocket text-white d-flex align-items-center justify-content-center rounded-pill h3 mb-0 mx-auto"></i>
                        </div>

                        <h4 class="text-gradient-primary">Business</h4>
                    
                        <div class="d-flex justify-content-center mb-0">
                            <span class="h5 mb-0 mt-2">$</span>
                            <span class="price h2 mb-0">99</span>
                            <span class="h5 align-self-end mb-1">/month</span>
                        </div>
                    </div>

                    <div class="p-4 text-start">
                        <h5>Pricing Features:</h5>

                        <ul class="list-unstyled mb-0 ps-0">
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Full Access</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Source Files</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Free Appointments</li>
                            <li class="text-muted mb-0"><span class="icon h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Enhanced Security</li>
                        </ul>
                        
                        <a href="" class="btn btn-primary btn-pills border-0 w-100 mt-4">Get Started</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<app-footer></app-footer>