<app-index-six></app-index-six>
<!-- Start -->
<section class="section bg-light" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 pb-2">
                <div class="section-title text-center">
                    <h4 class="title mb-4">Actualités <br> sur les banques</h4>
                    <p class="text-muted para-desc mx-auto mb-0">This is just a simple text made for this unique and
                        awesome template, you can replace it with any text.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="container">
                <div class="card" *ngFor="let BlogT of blogT">
                    <div class="card__header">
                        <img [src]="BlogT.img1" alt="card__image" class="card__image"
                            width="600">
                    </div>
                    <div class="card__body">
                        <span class="tag tag-blue">{{BlogT.banque}}</span>
                        <h5 class="text-truncate">{{BlogT.titre}}</h5>
                        <p class="text-truncate">{{BlogT.description}}</p>
                    </div>
                    <div class="card__footer">
                        <div class="user profile-userlink">
                            <img [src]="BlogT.imguser" alt="">
                            <!-- <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image"> -->
                            <div class="user__info">
                                <h5 style="margin-bottom: 0px;">{{BlogT.nomuser}}</h5>
                                <small>{{BlogT.datecreation}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="card__header">
                        <img src="https://source.unsplash.com/600x400/?food" alt="card__image" class="card__image"
                            width="600">
                    </div>
                    <div class="card__body">
                        <span class="tag tag-brown">BIM</span>
                        <h5 class="text-truncate">Le nombre d’utilisateurs des paiements
                            mobiles en Mali a doublé</h5>
                        <p class="text-truncate">Le succès des paiements sans contact via un
                            smartphone ne se dément pas. En effet, en seulement un an, cette méthode de paiement à la
                            fois pratique et sécurisé a bondi de +137 %. Ce chiffre a été communiqué par l’Observatoire
                            de la sécurité des moyens de paiement auprès de la Banque du Mali au quotidien Le Parisien.</p>
                    </div>
                    <div class="card__footer">
                        <div class="user profile-userlink">
                            <img src="../../../assets/images/client/01.jpg" alt="">
                            <div class="user__info">
                                <h5 style="margin-bottom: 0px;">Admin</h5>
                                <small>21 Sept. 2023</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__header">
                        <img src="https://source.unsplash.com/600x400/?car,automobile" alt="card__image"
                            class="card__image" width="600">
                    </div>
                    <div class="card__body">
                        <span class="tag tag-red">BNDA</span>
                        <h5 class="text-truncate">Les seuils de revenus mensuels nécessaires
                            pour bénéficier de la carte à débit différé</h5>
                        <p class="text-truncate">Au cours des dernières années, les banques
                            digitales ont procédé à un relèvement des seuils de revenus nécessaires pour bénéficier
                            d’une carte bancaire à débit différé. Ce moyen de paiement spécifique permet en effet de
                            reporter le débit des opérations (achats, réservations…) à la fin du mois et le risque
                            d’impayé reste ainsi élevé.</p>
                    </div>
                    <div class="card__footer">
                        <div class="user profile-userlink">
                            <img src="../../../assets/images/client/01.jpg" alt="">
                           
                            <div class="user__info">
                                <h5 style="margin-bottom: 0px;">Admin</h5>
                                <small>25 Oct. 2023</small>
                            </div>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<app-footer></app-footer>