<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-title mt-3">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Liste des <b>Questions</b></h4>
                    </div>
                    <div class="col-sm-2">
                        <div class="search-box">
                            <i class="uil uil-search"></i>
                            <input type="text" class="form-control"
                                placeholder="Rechercher">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option *ngFor="let item of roles" [value]="item.nom">
                                    {{ item.nom }}
                                </option>
                            </select>
                            <!-- <label for="floatingSelect">Selectionner un role</label> -->
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="btn ajoutUser">Ajouter une question</a>
                    </div>
                </div>
            </div>
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Questions</span></th>
                                <th><span>Date de creation</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Type de question</span></th>
                                <th><span>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                        alt="">
                                    <a href="#" class="user-link">Mila Kunis</a>
                                    <span class="user-subhead">Admin</span>
                                </td>
                                <td>
                                    2013/08/08
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>
                                    <a href="#">mila@kunis.com</a>
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                        alt="">
                                    <a href="#" class="user-link">George Clooney</a>
                                    <span class="user-subhead">Member</span>
                                </td>
                                <td>
                                    2013/08/12
                                </td>
                                <td class="text-center">
                                    <span class="label label-success">Active</span>
                                </td>
                                <td>
                                    <a href="#">marlon@brando.com</a>
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                        alt="">
                                    <a href="#" class="user-link">Ryan Gossling</a>
                                    <span class="user-subhead">Registered</span>
                                </td>
                                <td>
                                    2013/03/03
                                </td>
                                <td class="text-center">
                                    <span class="label label-danger">Banned</span>
                                </td>
                                <td>
                                    <a href="#">jack@nicholson</a>
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i
                                                class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>