<!-- START NAVBAR -->
<nav id="navbar" class="navbar navbar-expand-lg fixed-top sticky" (window:scroll)="windowScroll()">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0);">
            <img src="assets/images/logo-dark.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggleMenu()"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i-feather name="menu"></i-feather>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-navlist">
                <li class="nav-item" [ngClass]="{'active-menu':currentSection === 'home'}">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'about'}">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/apropos"
                        >Apropos</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'service'}">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/banque"
                        >Banque</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'price'}">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/trouverbanque"
                        >Trouver une banque</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'blog'}">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/blog"
                        >Blogs</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'contact'}">
                    <a class="nav-link" href="javascript: void(0);" routerLink="/contact">Contactez-nous</a>
                </li>
            </ul>
            <ul class="nav header-navbar-rht">
                <li class="nav-item dropdown has-arrow logged-item">
                    <a href="javascript:void(0);" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="../../../assets/images/client/01.jpg" alt="">
                      <span>Tiec DIARRA</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a class="dropdown-item">Dashboard</a>
                      <a class="dropdown-item">Profil</a>
                      <a class="dropdown-item crd">Déconnexion</a>
                    </div>
                  </li>
            </ul>
            <ul class="list-inline menu-social mb-0 ps-lg-4 ms-2">
                <li class="list-inline-item">
                    <a routerLink="/auth/login" class="btn btn-icon btn-pills btn-primary border-0">
                        <i-feather name="user" class="icons"></i-feather>
                    </a>
                </li>
            </ul>
        </div>
        <!--end collapse-->
    </div>
    <!--end container-->
</nav>
<!-- END NAVBAR -->
