/* Sélectionnez l'élément <a> dans la classe .nav-item */
.nav-item a {
    text-transform: capitalize;
    /* Met la première lettre de chaque mot en majuscule */
}

.navbar-nav li a.active {
    color: #314CB6;
}


.profile-userlink img {
    margin-right: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
