<!-- START NAVBAR -->
<nav id="navbar" class="navbar navbar-expand-lg fixed-top sticky" (window:scroll)="windowScroll()">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0);">
            <img src="assets/images/logo-dark.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggleMenu()"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i-feather name="menu"></i-feather>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 " id="navbar-navlist">
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/apropos">Apropos</a>
                </li>
                <!-- <li class="nav-item">
                  <a routerLinkActive="active" class="nav-link" routerLink="/banque">Banque</a>
                </li>
                <li class="nav-item">
                  <a routerLinkActive="active" class="nav-link" routerLink="/trouverbanque">Trouver une banque</a>
                </li> -->
                <li class="nav-item dropend has-arrow logged-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Comparateurs
                        banque
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item crd" routerLink="/ouverture-compte">Ouverture de compte</a></li>
                        <!-- <li><a class="dropdown-item crd" routerLink="/frais-bancaire">Frais bancaire</a></li> -->
                        <!-- <li><a class="dropdown-item crd" routerLink="/offre-bancaire">Offres bancaires</a></li> -->
                        <li><a class="dropdown-item crd" routerLink="/taux-placement">Taux de placement</a></li>
                        <!-- <li><a class="dropdown-item crd" routerLink="/banque-ligne">Banque en ligne</a></li> -->
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/comparateur-banque">Comparateurs
                        banque</a>
                </li> -->
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/blog">Blogs</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>

            <ul class="nav header-navbar-rht">
                <li class="nav-item dropdown has-arrow logged-item">
                    <a href="javascript:void(0);" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="../../../assets/images/client/01.jpg" alt="">
                        <span style="color: black;">Tiec DIARRA</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- <a class="dropdown-item">Dashboard</a> -->
                        <a class="dropdown-item" routerLink="/profil">Profil</a>
                        <a class="dropdown-item crd" routerLink="/auth/login">Déconnexion</a>
                    </div>
                </li>
            </ul>
            <ul class="list-inline menu-social mb-0 ps-lg-4 ms-2">
                <li class="list-inline-item">
                    <a routerLink="/auth/login" class="btn btn-icon btn-pills btn-primary border-0">
                        <i-feather name="user" class="icons"></i-feather>
                    </a>
                </li>
            </ul>
        </div>
        <!--end collapse-->
    </div>
    <!--end container-->
</nav>
<!-- END NAVBAR -->