<app-index-six></app-index-six>
<!-- Start -->
<section class="section bg-light overflow-hidden" id="about">
    <div class="container">

    </div>
    <!--end container-->

</section>
<!--end section-->

<!-- ======= Info Box Section ======= -->
<section class="info-box bg-light  py-0">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">
                    <h3>A propos de nous</h3>
                    <p class="text-justify">
                        Notre entreprise excelle dans le numérique, les données et la sécurité.
                        Nous proposons des solutions technologiques avancées et une gestion
                        intelligente des données, tout en assurant une sécurité fiable pour nos clients.
                        <!-- Notre engagement envers l'excellence soutient la réussite de nos clients dans l'environnement numérique en constante évolution. -->
                    </p>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#accordion-list-1"><span>01</span> Digital<i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    Le <span style="font-weight: bold;">digital</span> concerne l'utilisation des
                                    technologies numériques pour transformer, stocker et traiter l'information.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                class="collapsed"><span>02</span> Data <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Les <span style="font-weight: bold;">data</span> se réfèrent à des informations
                                    brutes ou des faits collectés, stockés et utilisés à des fins d'analyse, de prise de
                                    décision et de traitement par des systèmes informatiques.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                class="collapsed"><span>03</span> Sécurité <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    La <span style="font-weight: bold;">sécurité</span> consiste à protéger contre les
                                    menaces et les risques, en utilisant des mesures et des stratégies pour prévenir les
                                    atteintes aux biens, aux données et aux individus.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                style="background-image: url(../../../assets/images/info-box.jpg); height: 90%; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;">
                &nbsp;</div>
        </div>

    </div>
</section><!-- End Info Box Section -->

<!-- ======= Our Services Section ======= -->
<!-- <section id="services" class="services bg-light">
    <div class="container">

        <div class="section-title text-center">
            <h2>Nos Services</h2>
            <p>Nos services sont dédié à fournir des solutions personnalisées dans le domaine
                du numérique, des données et de la sécurité. Nous travaillons en étroite
                collaboration avec nos clients pour répondre à leurs besoins spécifiques,
                en tirant parti de notre expertise en technologie, en analyse de données et
                en cybersécurité. Notre objectif est d'aider nos clients à optimiser leur
                efficacité, à prendre des décisions éclairées et à garantir la protection de
                leurs ressources.</p>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="uil uil-dribbble"></i></div>
                    <h4 class="title"><a href="">Digital</a></h4>
                    <p class="description text-justify">Le <span style="font-weight: bold;">digital</span> concerne
                        l'utilisation des technologies numériques pour transformer, stocker et traiter l'information.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="uil  uil-database"></i></div>
                    <h4 class="title"><a href="">Data</a></h4>
                    <p class="description text-justify">Les <span style="font-weight: bold;">data</span> se réfèrent à
                        des informations brutes ou des faits collectés, stockés et utilisés à des fins d'analyse, de
                        prise de décision et de traitement par des systèmes informatiques.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="uil uil-lock-access"></i></div>
                    <h4 class="title"><a href="">Sécurité</a></h4>
                    <p class="description text-justify">La <span style="font-weight: bold;">sécurité</span> consiste à
                        protéger contre les menaces et les risques, en utilisant des mesures et des stratégies pour
                        prévenir les atteintes aux biens, aux données et aux individus.</p>
                </div>
            </div>
        </div>

    </div>
</section> -->
<!-- End Our Services Section -->
<!-- End -->

<!-- ======= More Services Section ======= -->
<section class="more-services section-bg bg-light">
    <div class="container">
        <div class="section-title text-center">
            <h2>Nos Services</h2>
            <p>Nos services sont dédié à fournir des solutions personnalisées dans le domaine
                du numérique, des données et de la sécurité. Nous travaillons en étroite
                collaboration avec nos clients pour répondre à leurs besoins spécifiques,
                en tirant parti de notre expertise en technologie, en analyse de données et
                en cybersécurité.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="card">
                    <img src="../../../assets/images/more-service-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Développement d'Applications</a></h5>
                        <p class="card-text text-justify">Création d'applications personnalisées pour répondre aux besoins spécifiques de nos clients.</p>
                        <a href="#" class="btn">Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="card">
                    <img src="../../../assets/images/more-service-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Analyse de Données</a></h5>
                        <p class="card-text text-justify">Exploitation des données pour obtenir des informations précieuses, des prévisions et des recommandations stratégiques.</p>
                        <a href="#" class="btn">Savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="card">
                    <img src="../../../assets/images/more-service-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Sécurité Informatique</a></h5>
                        <p class="card-text text-justify">Protection des systèmes, des données et des réseaux contre les menaces numériques, y compris la cybersécurité et la gestion des risques.</p>
                        <a href="#" class="btn">Savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End More Services Section -->


<!-- ======= Our Team Section ======= -->
<section id="team" class="team bg-light">
    <div class="container">

        <div class="section-title text-center">
            <h2>Notre equipe</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member">
                    <img src="../../../assets/images/team/team-1.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="uil uil-twitter"></i></a>
                            <a href=""><i class="uil uil-facebook"></i></a>
                            <a href=""><i class="uil uil-instagram"></i></a>
                            <a href=""><i class="uil uil-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="member">
                    <img src="../../../assets/images/team/team-2.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="uil uil-twitter"></i></a>
                            <a href=""><i class="uil uil-facebook"></i></a>
                            <a href=""><i class="uil uil-instagram"></i></a>
                            <a href=""><i class="uil uil-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="member">
                    <img src="../../../assets/images/team/team-3.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="uil uil-twitter"></i></a>
                            <a href=""><i class="uil uil-facebook"></i></a>
                            <a href=""><i class="uil uil-instagram"></i></a>
                            <a href=""><i class="uil uil-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                <div class="member">
                    <img src="../../../assets/images/team/team-4.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="uil uil-twitter"></i></a>
                            <a href=""><i class="uil uil-facebook"></i></a>
                            <a href=""><i class="uil uil-instagram"></i></a>
                            <a href=""><i class="uil uil-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Our Team Section -->

<app-footer></app-footer>