/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.services .icon-box::before {
    content: "";
    position: absolute;
    background: #374670;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.services .icon-box:hover::before {
    background: #202942;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #202942;
    transition: all 0.3s ease-in-out;
}

.services .icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #425451;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
    color: #fff;
}

.services .icon-box:hover .icon {
    background: #fff;
}

.services .icon-box:hover .icon i {
    color: #202942;
}


/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
}

.team .member .social a:hover {
    color: #1bbca3;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Info Box
--------------------------------------------------------------*/
.info-box .content {
    padding: 60px 100px 0 100px;
}

.info-box .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.info-box .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.info-box .content p {
    font-size: 15px;
    color: #6b8a86;
}

.info-box .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}

.info-box .accordion-list {
    padding: 0 100px 60px 100px;
}

.info-box .accordion-list ul {
    padding: 0;
    list-style: none;
}

.info-box .accordion-list li+li {
    margin-top: 15px;
}

.info-box .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.info-box .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.info-box .accordion-list a:hover {
    color: #1bbca3;
}

.info-box .accordion-list span {
    color: #e83e8c;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.info-box .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.info-box .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.info-box .accordion-list .icon-show {
    display: none;
}

.info-box .accordion-list a.collapsed {
    color: #343a40;
}

.info-box .accordion-list a.collapsed:hover {
    color: #1bbca3;
}

.info-box .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.info-box .accordion-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1024px) {

    .info-box .content,
    .info-box .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .info-box {
        /* img {
        padding-top: 30px;
      } */
    }

    .info-box .content {
        padding-top: 30px;
    }

    .info-box .accordion-list {
        padding-bottom: 30px;
    }
}

.text-justify {
    text-align: justify;
}

/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services img {
    border-radius: 0;
}

.more-services .card {
    border: 0;
    text-align: ceneter;
}

.more-services .card-body {
    -moz-text-align-last: center;
    text-align-last: center;
}

.more-services .card-title a {
    font-weight: 600;
    font-size: 18px;
    color: #334240;
    transition: ease-in-out 0.3s;
}

.more-services .card-title a:hover {
    color: #202942;
}

.more-services .btn {
    border-radius: 50px;
    padding: 4px 30px 6px 30px;
    border: 2px solid #202942;
}

.more-services .btn:hover {
    color: #fff;
    background: #202942;
}